/*公用*/
.comWidth {
    width: 1000px;
    margin: 0 auto;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

a {
    color: #666666;
    text-decoration: none;
}

/*topBar*/
.topBar {
    height: 31px;
    background-color: #f7f7f7;
    line-height: 31px;
}

.collection {
    background: url("../images/icon/collection.jpg") no-repeat left center;
    padding-left: 19px;
    font-weight: bold;
}

.topBar a:hover {
    color: #f00;
}

/*logo*/
.logoBar {
    height: 85px;
    background-color: #1d7ad9;
}

.logo {
    padding: 13px 0 0 41px;
    float: left;
}

/*search*/
.search-box {
    float: left;
    width: 430px;
    height: 50px;
    padding: 30px 0 0 185px;

}

.search-text {
    width: 350px;
    height: 35px;
    line-height: 35px \9; /* css hack \9代表所有的IE浏览器-为了兼容IE浏览器的文字居中*/
    padding: 0 5px;
    background-color: #FFF;

}

.search-btn {
    width: 70px;
    height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑";
    background-color: #FF8C00;
    color: #fff;
}

/*购物车*/
.shopCar {
    float: right;
    width: 145px;
    height: 35px;
    background-color: #FF8C00;
    margin-top: 30px;
    display: inline-block;
    /*字体具有继承性，所以在父标签里写字体设置即可*/
    font: 14px/35px "Microsoft YaHei"; /*字体设置的缩写模式，分别设置字体大小/行高/字体*/
    color: #FFF;
    margin-right: 59px;
}

.shopText {
    height: 100%;
    width: 87px;
    background: url(../images/icon/shaoIcon.jpg) no-repeat 10px center;
    background-color: #FF8C00;
    border-right: #E27A00 solid 1px;
    text-indent: 40px; /*设置文字的首行缩进*/
}

.shopNum {
    width: 27px;
    height: 35px;
    border-left: 1px solid #FF9C01;
    background: url(../images/icon/sj.jpg) no-repeat 33px center;
    text-align: right;
    padding-right: 29px;
}

/*导航栏*/
.navBox {
    height: 35px;
    background-color: #1369C0;
    color: #FFF;
}

.shopClass {
    width: 190px;
    position: relative;
}

.shopClass h3 {
    line-height: 35px;
    text-align: center;
}

.shopClass i {
    display: inline-block;
    width: 11px;
    height: 7px;
    overflow: hidden;
    background: url("../images/icon/down.jpg") no-repeat left center;
    margin-left: 11px;
}

.nav, .shopClass {
    font-family: "Microsoft YaHei", "微软雅黑";
}

.nav {
    line-height: 35px;
}

.nav li {
    float: left;
}

.nav a {
    height: 35px;
    display: inline-block;
    padding: 0 35px;
    color: #FFF;
}

.nav .active {
    background-color: #4593FD;
}

/*商品弹出列表*/
.shopClass-show {
    background-color: #4593FD;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
}

.shopClass-item {
    padding: 17.75px 10px;
    border-bottom: 1px solid #3487F2;
    border-top: 1px solid #5AA1FE;

}

.shopClass-item dt {
    height: 22px;
    background: url("../images/icon/shop_sj.jpg") no-repeat right center;

}

.shopClass-item .b {
    font-size: 14px/1 "Microsoft YaHei";
}

.shopClass-item a {
    color: #FFF;

}

.shopClass-item .aLink {
    width: 48px;
    height: 20px;
    background: url("../images/icon/aLink_bg.png") no-repeat left center;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
}

/*banner部分*/
.banner {
    margin-bottom: 15px;
}

.banner-bar {
    /*width: 810px;
    height: 326px;*/
    float: right;
    position: relative;
    overflow: hidden;
}

.imgBox {
    /*    width: 810px;
        height: 326px;*/
    position: absolute;
    left: 0;
    top: 0;
}

.imgBox li {
    float: left;
}

.imgBox img {
    width: 810px;
    height: 326px;
    display: block;
}

.imgNum {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.imgNum a {
    display: inline-block;
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #FFF;
    margin: 0 3px;
}

.imgNum .active {
    background-color: #FF7700;
}

.banner-big, .banner-big img {
    width: 810px;
    height: 326px;
}

.banner-big .imgBox {
    width: 1620px;
    height: 326px;
}

.banner-small, .banner-small img {
    width: 190px;
    height: 400px;
}

.banner-small .imgBox {
    width: 380px;
    height: 400px;
}

/*商品标题*/
.shopTit {
    height: 44px;
    font-family: "Microsoft YaHei";
    line-height: 44px;
    clear: both;
    margin-bottom: 15px;
    padding-top: 15px;
}

.shopTit h3 {
    font-size: 24px;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}

.icon {
    width: 44px;
    height: 44px;
    float: left;
    background: url("../images/icon/shopIcon.jpg") no-repeat left top;
}

.more {
    float: right;
    font-family: "Microsoft YaHei";
}

.more:hover {
    text-decoration: underline;
}

/*商品列表*/
.shopList .leftArea {
    width: 190px;
    clear: both;

}

/*商品列表-右侧*/
.shopList-top, .shopList-sm {
    margin-right: -4px;
}

.shopList .rightArea {
    width: 808px;
    border: 1px solid #999;
    border-bottom: 3px solid #FF7201;
    height: 396px;
    overflow: hidden;
}

.shop-item {
    width: 202px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 279px;
    font-family: "Microsoft YaHei";
    float: left;
}

.shop-item h3 {
    font-size: 16px;
    text-align: center;
}

.shop-img {
    height: 218px;
    font-family: "Microsoft YaHei";
}

.shop-img img {
    width: 100%;
    height: 218px;
    display: inline-block;
}

.shop-item p {
    font-size: 14px;
    color: #FF7300;
    line-height: 21px;
    text-align: center;
}

/*商品列表-小*/
.shopItem-sm {
    width: 202px;
    border-right: 1px solid #999;
    height: 116px;
    /*margin-top: 280px;*/
    float: left;
}

.shopItem-smImg {
    width: 95px;
    height: 95px;
    text-align: center;
    float: left;
}

.shopItem-smImg img {
    width: 95px;
    height: 95px;
}

.shopItem-text {
    padding-top: 25px;
    width: 107px;
    float: left;
    font-size: 13px;
}

.shopItem-text h3 {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: normal;
    color: #181818;
    line-height: 30px;
}

.shopItem-text p {
    color: #FF7300;
}

/*底部*/
.footer {
    margin: 440px auto 0;
    text-align: center;
    line-height: 24px;
    background-color: #D4D4D4;
    height: 200px;
    padding: 50px 0;
}

.footer i {
    font-style: normal;
    margin: 0 5px;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: #F00;
}

/*产品分类页*/
.products .leftArea {
    width: 185px;
}

.products .rightArea {
    width: 810px;
}

.products .banner-bar {
    float: none;
}

/*产品分类-导航*/
.leftNav {
    background-color: #F3F3F3;
    border: 1px solid #D7D7D7;
}

.nav-title {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-bottom: 1px solid #D7D7D7;
    text-align: center;
    font-weight: bold;
}

.nav-cont {
    padding: 0 18px 4px;
    border-bottom: 1px dotted #D7D7D7;
    margin-bottom: -1px;
    /*height:auto;*/
}

.nav-cont-classification {
    height: 130px;
}

.nav-cont h3 {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.navCont-list {
    line-height: 25px;
    /*clear: both;*/
}

.navCont-list li {
    float: left;
    width: 50%;
    height: 25px;
}

/*产品列表-主体部分*/

/*标题*/
.products-title {
    height: 34px;
    border-bottom: 2px solid #CCC;
    clear: both;
}

.products-title h3 {
    width: 180px;
    border-bottom: 2px solid #096DBA;
    height: 34px;
    line-height: 34px;
    padding-left: 9px;
}

.products .item {
    width: 25%;
    margin-bottom: 10px;
}

/*商品*/
.item {
    float: left;
}

.img-item {
    height: 170px;
    text-align: center;
}

.img-item img {
    height: 170px;
}

.item p {
    line-height: 20px;
}

.item a {
    color: #000;
}

.item a:hover {
    text-decoration: underline;
}

.money {
    color: #D4105A;
    font-weight: bold;
    padding-top: 10px;
}

.item-cont {
    padding: 0 15px;
}

/*商品筛选页*/
.vertical li {
    width: auto;
    float: none;
    padding-left: 8px;
}

.vertical .nav-title, .vertical .nav-cont h3 {
    font: 14px "Microsoft YaHei";
}

/*筛选条件*/

.screening {
    overflow: hidden;
}

.screening dt {
    line-height: 32px;
    width: 74px;
    text-align: center;
    float: left;
    margin-right: 42px;
}

.screening a {
    padding: 2px;
}

.limit {
    width: 55px;
    float: left;
    line-height: 32px;
}

.limit .active {
    background-color: #1D7AD9;
    color: #FFF;
}

.screening {
    border-bottom: 1px solid #CCC;
}

.screening-list {
    line-height: 32px;
    width: 626px;
    float: left;
}

.screening-list li {
    width: 20%;
    float: left;
}

/*送货地址*/
.addInfo {
    height: 31px;
    border:1px solid #CCC;
    background-color: #F5F5F5;
}

.addInfo .select {
    margin-top: 4px;

}

.address {
    float: left;
}

.add-text {
    display: inline-block;
    float: left;
    /*width: 30px;*/
    /*font-size: 14px;*/
    line-height: 31px;
    padding: 0 6px 0 9px;
}

.select {
    border: 1px solid #999;
    height: 22px;
    width: 100px;
    line-height: 22px;
    /*background-color:#FFF;*/
    padding-left: 40px;
    padding-right: 0px;
    position: relative;
    z-index: 4; /*给个层级，防止下面弹出的列表与商品元素重叠*/
}

.select h3 {
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #CCC;
}

.select span {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background: url("../images/icon/sj_blue.jpg") no-repeat center center;
    /*background-color: red;*/
}

.show-select {
    position: absolute;
    left: -1px;
    top: 22px;
    background-color: #FFF;
    width: 100%;
    border: 1px solid #999;
    display: none;
}

.show-select li {
    padding-left: 10px;
}

.screen-text {
    line-height: 31px;
    padding-right: 10px;
}

.screen-text span {
    vertical-align: middle;
}

.check {
    position: relative;
    top: -1px;
}

.check input, .check label {
    vertical-align: middle;
}

.shop-number em {
    color: #f00;
    font-style: normal;
    font-weight: bold;
}

/*商品图样--筛选页*/
.screening-list-more {
    padding-right: 0.5%;
}

.screening-list-more .item {
    width: 33.3%;
}

.addCar {
    border: 1px solid #999;
    height: 18px;
    display: inline-block;
    padding: 0 6px 0 23px;
    background: url("../images/icon/car.jpg") no-repeat 6px center;
}