/*公用*/
.comWidth {
    width: 1000px;
    margin: 0 auto;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

a {
    color: #666666;
    text-decoration: none;
}

/*topBar*/
.topBar {
    height: 31px;
    background-color: #f7f7f7;
    line-height: 31px;
}

.collection {
    background: url("../images/icon/collection.jpg") no-repeat left center;
    padding-left: 19px;
    font-weight: bold;
}

.topBar a:hover {
    color: #f00;
}

/*logo*/
.logoBar {
    height: 85px;
    background-color: #1d7ad9;
}

.logo {
    padding: 13px 0 0 41px;
    float: left;
}

/*search*/
.search-box {
    float: left;
    width: 430px;
    height: 50px;
    padding: 30px 0 0 185px;

}

.search-text {
    width: 350px;
    height: 35px;
    line-height: 35px \9; /* css hack \9代表所有的IE浏览器-为了兼容IE浏览器的文字居中*/
    padding: 0 5px;
    background-color: #FFF;

}

.search-btn {
    width: 70px;
    height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑";
    background-color: #FF8C00;
    color: #fff;
}

/*购物车*/
.shopCar {
    float: right;
    width: 145px;
    height: 35px;
    background-color: #FF8C00;
    margin-top: 30px;
    /*字体具有继承性，所以在父标签里写字体设置即可*/
    font: 14px/35px "Microsoft YaHei"; /*字体设置的缩写模式，分别设置字体大小/行高/字体*/
    color: #FFF;
    margin-right: 59px;
}

.shopText {
    height: 100%;
    width: 87px;
    background: url(../images/icon/shaoIcon.jpg) no-repeat 10px center;
    background-color: #FF8C00;
    border-right: #E27A00 solid 1px;
    text-indent: 40px; /*设置文字的首行缩进*/
}

.shopNum {
    width: 27px;
    height: 35px;
    border-left: 1px solid #FF9C01;
    background: url(../images/icon/sj.jpg) no-repeat 33px center;
    text-align: right;
    padding-right: 29px;
}

/*导航栏*/
.navBox {
    height: 35px;
    background-color: #1369C0;
    color: #FFF;
}

.shopClass {
    width: 190px;
    position: relative;
}

.shopClass h3 {
    line-height: 35px;
    text-align: center;
}

.shopClass i {
    display: inline-block;
    width: 11px;
    height: 7px;
    overflow: hidden;
    background: url("../images/icon/down.jpg") no-repeat left center;
    margin-left: 11px;
}

.nav, .shopClass {
    font-family: "Microsoft YaHei", "微软雅黑";
}

.nav {
    line-height: 35px;
}

.nav li {
    float: left;
}

.nav a {
    height: 35px;
    display: inline-block;
    padding: 0 35px;
    color: #FFF;
}

.nav .active {
    background-color: #4593FD;
}

/*商品弹出列表*/
.shopClass-show {
    background-color: #4593FD;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
}

.shopClass-item {
    padding: 17.75px 10px;
    border-bottom: 1px solid #3487F2;
    border-top: 1px solid #5AA1FE;

}

.shopClass-item dt {
    height: 22px;
    background: url("../images/icon/shop_sj.jpg") no-repeat right center;

}

.shopClass-item .b {
    font-size: 14px/1 "Microsoft YaHei";
}

.shopClass-item a {
    color: #FFF;

}

.shopClass-item .aLink {
    width: 48px;
    height: 20px;
    background: url("../images/icon/aLink_bg.png") no-repeat left center;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
}

/*banner部分*/
.banner {
    margin-bottom: 15px;
}

.banner-bar {
    /*width: 810px;
    height: 326px;*/
    float: right;
    position: relative;
    overflow: hidden;
}

.imgBox {
    /*    width: 810px;
        height: 326px;*/
    position: absolute;
    left: 0;
    top: 0;
}

.imgBox li {
    float: left;
}

.imgBox img {
    width: 810px;
    height: 326px;
    display: block;
}

.imgNum {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.imgNum a {
    display: inline-block;
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #FFF;
    margin: 0 3px;
}

.imgNum .active {
    background-color: #FF7700;
}

.banner-big, .banner-big img {
    width: 810px;
    height: 326px;
}

.banner-big .imgBox {
    width: 1620px;
    height: 326px;
}

.banner-small, .banner-small img {
    width: 190px;
    height: 400px;
}

.banner-small .imgBox {
    width: 380px;
    height: 400px;
}

/*商品标题*/
.shopTit {
    height: 44px;
    font-family: "Microsoft YaHei";
    line-height: 44px;
    clear: both;
    margin-bottom: 15px;
}

.shopTit h3 {
    font-size: 24px;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}

.icon {
    width: 44px;
    height: 44px;
    float: left;
    background: url("../images/icon/shopIcon.jpg") no-repeat left top;
}

.more {
    float: right;
    font-family: "Microsoft YaHei";
}

.more:hover {
    text-decoration: underline;
}

/*商品列表*/
.shopList .leftArea {
    width: 190px;
    clear: both;

}

/*商品列表-右侧*/
.shopList .rightArea {
    width: 808px;
    border: 1px solid #999;
    border-bottom: 3px solid #FF7201;
    height: 396px;
}

.shop-item {
    width: 202px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 279px;

}

.shop-item h3 {
    font-size: 16px;
    text-align: center;
}

.shop-img {
    height: 218px;
    font-family: "Microsoft YaHei";
}

.shop-img img {
    width: 100%;
    height: 218px;
    display: inline-block;
}