a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

#wrap {
    width: 800px;
    border: 5px solid #ababab;
    margin: 50px auto;
    padding: 0 20px;
    text-align: left;
    border-radius: 20px;
}

/*  头部样式 */
#title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 45px;
}

/*  中间样式 */
#content {
    height: 144px;
    overflow: hidden;
}

#wrap ul li {
    height: 24px;
}

#wrap ul li a {
    float: left;
    overflow: hidden;
    text-indent: 15px;
    height: 24px;
}

#wrap ul li span {
    float: right;
    color: #999;
}