
/*页面样式*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    line-height: 1.7;
}

li{
    list-style: none;
}

#content{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#content h1{
    columns: #0088bb;
}

#content .item{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dotted #0088bb;
}

#content .item h2{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #0088bb;
    margin-bottom: 10px;
}

#content .item li{
    display: inline;
    margin-right: 10px;
}

#content .item li a img {
    width: 230px;
    height: 230px;
    border: none;
}

/*导航样式*/
#menu{
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: 400px;
    width: 80px;
}
#menu ul li a{
    display: block;
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}
#menu ul li a:hover,
#menu ul li a.current{
    color: #fff;
    background: #0088bb;
}